.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.15rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(2, 80%, 57%);
  color: white;
}

.btn.certo {
  background-color: hsl(140, 91%, 40%);
  color: white;
}
.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(30, 1%, 62%);
}
